@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Ropa+Sans&display=swap");

@tailwind base;

html {
  @apply text-gray-900 antialiased leading-normal;
  background-color: #000000;
  color: #fafafa;
}

p {
  @apply text-lg;
  @apply mb-2;
}

.contact-input {
  background-color: black;
  padding: 16px;
  border: solid 2px white;
  width: 100%;
}

@tailwind components;

h2 {
  @apply uppercase;
  @apply font-normal;
  @apply text-2xl;
  @apply font-display;
  @apply font-normal;
  @apply mb-3;
  @apply mt-2;
}

h2::after {
  content: "";
  background-color: #ed1c24;
  @apply mt-2;
  @apply w-4;
  @apply h-0.5;
  @apply block;
}

.aventus-image-banner {
  display: block;
  padding: 16px;
  width: 100%;
  @apply mb-3;
}

.banner-subtext {
  @apply uppercase;
  @apply font-normal;
  @apply font-display;
  @apply font-normal;
  @apply tracking-widest;
}
.banner-subtext:after {
  content: "";
  background-color: #ed1c24;
  @apply mt-1;
  @apply w-4/5;
  @apply h-0.5;
  @apply block;
  @apply relative;
  left: 10%;
}

.footer--copyright {
  padding: 16px;
  background-color: white;
  color: black;
}

.stub-divider {
  background-color: #000000;
  @apply my-2;
  @apply w-4;
  @apply h-0.5;
  @apply block;
}

@tailwind utilities;
